In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

In [2]:
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

## 観光地名取得

In [3]:
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
elem_title.text

'1\n観光地 1'

In [4]:
title = elem_title.text
title

'1\n観光地 1'

In [5]:
title.split('\n')

['1', '観光地 1']

In [6]:
title.split('\n')[1]

'観光地 1'

## 総合評価の取得

In [7]:
elem_rank = browser.find_element_by_class_name('u_rankBox')
elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')

In [13]:
elem_rank.text

'4.7'

In [20]:
# 楽しさ
elem = browser.find_element_by_class_name('u_categoryTipsItem')
# print(elem.text)
elem = elem.find_element_by_class_name('is_rank')
# print(elem.text)
elem = elem.find_element_by_class_name('evaluateNumber')
print(elem.text)

4.6

In [22]:
# 人込みの多さ
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[1]
# print(elem.text)
elem = elem.find_element_by_class_name('evaluateNumber')
print(elem.text)

4.5
4.5

In [24]:
# 景色
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[2]
# print(elem.text)
elem = elem.find_element_by_class_name('evaluateNumber')
print(elem.text)

4.9
4.9

In [25]:
# アクセス
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[3]
elem = elem.find_element_by_class_name('evaluateNumber')
print(elem.text)

4.2

In [26]:
# すべての観光地情報
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
elem_title.text.split('\n')[1]

'観光地 1'

In [27]:
# 観光地名
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
title = elem_title.text.split('\n')[1]
title

'観光地 1'

In [28]:
#elements にする
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [29]:
len(elems_rankingBox)

10

In [30]:
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [31]:
titles = []
for elem_rankingBox in elems_rankingBox:
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

In [33]:
# ランキング
elems_rank = browser.find_elements_by_class_name('u_rankBox')
ranks = []
for elem_rank in elems_rank:
    elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(elem_rank.text)
    ranks.append(rank)
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

In [34]:
# 各項目
elems = browser.find_elements_by_class_name('u_categoryTipsItem')
categories = []

for elem in elems:
        items = []
        elems_rank = elem.find_elements_by_class_name('is_rank')
        for elem_rank in elems_rank:
            rank = elem_rank.find_element_by_class_name('evaluateNumber').text
            items.append(rank)
        categories.append(items)
categories

[['4.6', '4.5', '4.9', '4.2'],
 ['4.6', '4.5', '4.9', '4.2'],
 ['4.5', '4.4', '4.8', '4.1'],
 ['4.4', '4.4', '4.8', '4.0'],
 ['4.4', '4.3', '4.7', '4.0'],
 ['4.3', '4.3', '4.7', '3.9'],
 ['4.2', '4.2', '4.6', '3.8'],
 ['4.2', '4.2', '4.6', '3.8'],
 ['4.1', '4.1', '4.5', '3.7'],
 ['4.0', '4.1', '4.4', '3.6']]

In [35]:
import pandas as pd

df = pd.DataFrame()

df['観光地名'] = titles
df['総合評価'] = ranks

In [36]:
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [37]:
df_categories = pd.DataFrame(categories)
df_categories

     0    1    2    3
0  4.6  4.5  4.9  4.2
1  4.6  4.5  4.9  4.2
2  4.5  4.4  4.8  4.1
3  4.4  4.4  4.8  4.0
4  4.4  4.3  4.7  4.0
5  4.3  4.3  4.7  3.9
6  4.2  4.2  4.6  3.8
7  4.2  4.2  4.6  3.8
8  4.1  4.1  4.5  3.7
9  4.0  4.1  4.4  3.6

In [38]:

df_categories.columns = ['楽しさ', '人混みの多さ', '景色', 'アクセス']
df_categories

   楽しさ 人混みの多さ   景色 アクセス
0  4.6    4.5  4.9  4.2
1  4.6    4.5  4.9  4.2
2  4.5    4.4  4.8  4.1
3  4.4    4.4  4.8  4.0
4  4.4    4.3  4.7  4.0
5  4.3    4.3  4.7  3.9
6  4.2    4.2  4.6  3.8
7  4.2    4.2  4.6  3.8
8  4.1    4.1  4.5  3.7
9  4.0    4.1  4.4  3.6

In [39]:
df = pd.concat([df, df_categories], axis=1)

In [40]:
df

     観光地名  総合評価  楽しさ 人混みの多さ   景色 アクセス
0   観光地 1   4.7  4.6    4.5  4.9  4.2
1   観光地 2   4.7  4.6    4.5  4.9  4.2
2   観光地 3   4.6  4.5    4.4  4.8  4.1
3   観光地 4   4.5  4.4    4.4  4.8  4.0
4   観光地 5   4.5  4.4    4.3  4.7  4.0
5   観光地 6   4.4  4.3    4.3  4.7  3.9
6   観光地 7   4.3  4.2    4.2  4.6  3.8
7   観光地 8   4.3  4.2    4.2  4.6  3.8
8   観光地 9   4.2  4.1    4.1  4.5  3.7
9  観光地 10   4.1  4.0    4.1  4.4  3.6

In [41]:
df.to_csv('観光地情報.csv', index=False)

# 全ページから情報取得

In [42]:
pagination = browser.find_element_by_id('pagination')

page1 = pagination.find_elements_by_tag_name('li')[1]
page1.find_element_by_tag_name('a').click()

In [43]:
titles = []
ranks = []
categories = []

browser = webdriver.Chrome()

for page in range(1,4):

    browser.get('https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(page))

    # 観光地名
    elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
    for elem_rankingBox in elems_rankingBox:
        elem_title = elem_rankingBox.find_element_by_class_name('u_title')
        title = elem_title.text.split('\n')[1]
        titles.append(title)

    # 総合評価
    elems_rank = browser.find_elements_by_class_name('u_rankBox')
    for elem_rank in elems_rank:
        elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
        rank = float(elem_rank.text)
        ranks.append(rank)

    # 各項目
    elems = browser.find_elements_by_class_name('u_categoryTipsItem')
    for elem in elems:
            items = []
            elems_rank = elem.find_elements_by_class_name('is_rank')
            for elem_rank in elems_rank:
                rank = elem_rank.find_element_by_class_name('evaluateNumber').text
                items.append(rank)
            categories.append(items)

In [44]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10',
 '観光地 11',
 '観光地 12',
 '観光地 13',
 '観光地 14',
 '観光地 15',
 '観光地 16',
 '観光地 17',
 '観光地 18',
 '観光地 19',
 '観光地 20',
 '観光地 21',
 '観光地 22',
 '観光地 23',
 '観光地 24',
 '観光地 25',
 '観光地 26',
 '観光地 27',
 '観光地 28',
 '観光地 29',
 '観光地 30']

In [46]:
df = pd.DataFrame()
df['観光地名'] = titles
df['総合評価'] = ranks

df_categories = pd.DataFrame(categories)
df_categories

df_categories.columns = ['楽しさ', '人混みの多さ', '景色', 'アクセス']
df_categories

    楽しさ 人混みの多さ   景色 アクセス
0   4.6    4.5  4.9  4.2
1   4.6    4.5  4.9  4.2
2   4.5    4.4  4.8  4.1
3   4.4    4.4  4.8  4.0
4   4.4    4.3  4.7  4.0
5   4.3    4.3  4.7  3.9
6   4.2    4.2  4.6  3.8
7   4.2    4.2  4.6  3.8
8   4.1    4.1  4.5  3.7
9   4.0    4.1  4.4  3.6
10  4.0    4.0  4.4  3.6
11  3.9    4.0  4.3  3.5
12  3.8    3.9  4.3  3.4
13  3.8    3.9  4.2  3.4
14  3.7    3.8  4.2  3.3
15  3.6    3.8  4.1  3.2
16  3.6    3.7  4.1  3.2
17  3.5    3.7  4.0  3.1
18  3.4    3.6  3.9  3.0
19  3.4    3.6  3.9  3.0
20  3.3    3.5  3.8  2.9
21  3.2    3.5  3.8  2.8
22  3.2    3.4  3.7  2.8
23  3.1    3.4  3.7  2.7
24  3.0    3.3  3.6  2.6
25  3.0    3.3  3.6  2.6
26  2.9    3.2  3.5  2.5
27  2.8    3.2  3.4  2.4
28  2.8    3.1  3.4  2.4
29  2.7    3.1  3.3  2.3

In [47]:
df = pd.concat([df, df_categories], axis=1)
df

      観光地名  総合評価  楽しさ 人混みの多さ   景色 アクセス
0    観光地 1   4.7  4.6    4.5  4.9  4.2
1    観光地 2   4.7  4.6    4.5  4.9  4.2
2    観光地 3   4.6  4.5    4.4  4.8  4.1
3    観光地 4   4.5  4.4    4.4  4.8  4.0
4    観光地 5   4.5  4.4    4.3  4.7  4.0
5    観光地 6   4.4  4.3    4.3  4.7  3.9
6    観光地 7   4.3  4.2    4.2  4.6  3.8
7    観光地 8   4.3  4.2    4.2  4.6  3.8
8    観光地 9   4.2  4.1    4.1  4.5  3.7
9   観光地 10   4.1  4.0    4.1  4.4  3.6
10  観光地 11   4.1  4.0    4.0  4.4  3.6
11  観光地 12   4.0  3.9    4.0  4.3  3.5
12  観光地 13   3.9  3.8    3.9  4.3  3.4
13  観光地 14   3.9  3.8    3.9  4.2  3.4
14  観光地 15   3.8  3.7    3.8  4.2  3.3
15  観光地 16   3.7  3.6    3.8  4.1  3.2
16  観光地 17   3.7  3.6    3.7  4.1  3.2
17  観光地 18   3.6  3.5    3.7  4.0  3.1
18  観光地 19   3.5  3.4    3.6  3.9  3.0
19  観光地 20   3.5  3.4    3.6  3.9  3.0
20  観光地 21   3.4  3.3    3.5  3.8  2.9
21  観光地 22   3.3  3.2    3.5  3.8  2.8
22  観光地 23   3.3  3.2    3.4  3.7  2.8
23  観光地 24   3.2  3.1    3.4  3.7  2.7
24  観光地 25   3.1  3.0    3.3  3.6  2.6
25  観光地 26   3.1  3.0    3.3  3.6  2.6
26  観光地 27   3.0  2.9    3.2  3.5  2.5
27  観光地 28   2.9  2.8    3.2  3.4  2.4
28  観光地 29   2.9  2.8    3.1  3.4  2.4
29  観光地 30   2.8  2.7    3.1  3.3  2.3